/*Changer le nom du fichier [.env-template] -­­> [.env] 
  Mettre la clé pour connect au mongoDB à MONGO_URI
  ATTENTION : Il ne doit pas y avoir d'espaces, les espaces sont importants!*/
/*PORT=3000
MONGO_URI=
JWT_SECRET=supersecretkey*/