# Node modules

node_modules/

# Environment variables (NE JAMAIS COMMIT)

.env

# Logs

logs
*.log
npm-debug.log*

# OS files

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Temporary files

tmp/
temp/

# Coverage

coverage/

# Build

dist/
build/
